<settings>

  <servers>
  <server>
    <id>nextwork-nextwork-devops-cicd-artifact</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

  <profiles>
  <profile>
    <id>nextwork-nextwork-devops-cicd-artifact</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>nextwork-nextwork-devops-cicd-artifact</id>
        <url>https://nextwork-895583929951.d.codeartifact.eu-west-1.amazonaws.com/maven/nextwork-devops-cicd-artifact/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

  <mirrors>
  <mirror>
    <id>nextwork-nextwork-devops-cicd-artifact</id>
    <name>nextwork-nextwork-devops-cicd-artifact</name>
    <url>https://nextwork-895583929951.d.codeartifact.eu-west-1.amazonaws.com/maven/nextwork-devops-cicd-artifact/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>
